.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}
.one {
  grid-column: 1 / span 7;
  background-color: #2b303a;
  border: 2px solid black;
  height: 60px;
}
.two {
  grid-row: 2;
  background-color: #92dce5;
  border: 2px solid black;
  height: 60px;
}
.three {
  grid-row: 3;
  background-color: #eee5e9;
  border: 2px solid black;
  height: 60px;
}
.four {
  grid-row: 4;
  background-color: #7c7c7c;
  border: 2px solid black;
  height: 60px;
}
.five {
  grid-row: 5;
  background-color: #d64933;
  border: 2px solid black;
  height: 60px;
}
.six {
  grid-row: 2 / span 5;
  grid-column: 2 / span 3;
  background-color: #61e786;
  border: 2px solid black;
  height: 400px;
}
.eight {
  grid-row: 6;
  background-color: 9792e3;
  border: 2px solid black;
  height: 60px;
}
.seven {
  background-color: #f9ada0;
  border: 2px solid black;
  grid-row: 2 / span 5;
  grid-column: 5 / span 3;
  height: 400px;
}
.nine {
  grid-row: 7;
  grid-column: 1 / span 7;
  background-color: #c65b7c;
  border: 2px solid black;
  height: 60px;
}
@media screen and (max-width: 400px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
