/* själva ramen av kortet */
.profile-card {
    max-width: 360px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
  }
/* själva ramen av img */*
  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 10px;
  }
/* knappen*/
  .profile-button {
    padding: 10px 20px;
    background-color: #3b3b3b;
    color: white;
    border-radius: 20px;
  }
/* stäng x*/
  .close-button {
    align-self: flex-end;
    cursor: pointer;
    height: 10px;
    margin-bottom: auto;
  }
  /* title*/
  .profile-title {
    margin-top: auto;
    
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p{
    color: gray;
  }