/* header  */
.container {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.icon {
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  display: inline-block;
  font-size: 5rem;
  background: #2079b0;
  background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
  background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
}

.logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
/* header ended */
/* gallery start */
.container1 {
  background: rgb(9, 13, 33);
  background: linear-gradient(
    90deg,
    rgba(9, 13, 33, 1) 0%,
    rgba(116, 96, 130, 1) 16%,
    rgba(168, 19, 204, 1) 28%,
    rgba(50, 37, 60, 1) 43%,
    rgba(77, 94, 180, 1) 62%,
    rgba(25, 32, 68, 1) 78%,
    rgba(25, 22, 43, 1) 92%,
    rgba(128, 34, 53, 1) 100%
  );
  padding: 40px 0;
}
.container1 .gallerie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  color: white;
  text-align: center;
}
.container1 .gallerie > div {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px; /* Add some padding for spacing */
}
.container1 .gallerie .item img {
  max-width: 100%; /* Make images responsive */
  height: auto;
}
.container1 .bigpic {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px; /* Adjust the gap as needed */
  color: white;
  padding: 40px 0;
}

.container1 .bigpic .item9 img,
.container1 .bigpic .item10 img {
  max-width: 100%; /* Make images responsive */
  height: auto;
}

.container1 .bigpic > div {
  text-align: left;
}
.container1 .gallerie .item img {
  height: 400px;
}
.container1 .gallerie .item1 img {
  height: 400px;
}
.container1 .gallerie .item2 img {
  height: 400px;
}
.container1 .gallerie .item3 img {
  height: 400px;
}
.container1 .gallerie .item4 img {
  height: 400px;
}
.container1 .gallerie .item5 img {
  height: 400px;
}
.container1 .gallerie .item6 img {
  height: 400px;
}
.container1 .gallerie .item7 img {
  height: 400px;
}
.container1 .gallerie .tem8 img {
  height: 400px;
}
/* gallery ended */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #724e91;
  color: #eceeefa2;
}

.Nav {
  text-align: center;
}

.info,
.social {
  text-align: right;
  margin: 10px;
}

.social .media img {
  margin-left: 10px;
}

button:hover {
  background: #2079b0;
  background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
  background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
  text-decoration: none;
}
body {
  background: rgb(116, 96, 130);
  background: linear-gradient(
    90deg,
    rgba(116, 96, 130, 1) 16%,
    rgba(103, 91, 112, 1) 28%,
    rgba(50, 37, 60, 1) 42%,
    rgba(77, 94, 180, 1) 62%,
    rgba(9, 13, 33, 1) 83%,
    rgba(128, 34, 53, 1) 100%
  );
}

button {
  background-color: #3dd1e7;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #e54f6d;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:focus {
  outline: 0;
}

button:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

button:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  button {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}
.linkedin:hover {
  background-color: #007bb6;
}
.facebook:hover {
  background-color: #3b5998;
}
.twitter:hover {
  background-color: #00aced;
}
.insta:hover {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
