*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0,0.5);
    position: sticky;
    top:0;

}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0;
}
.navbar ul li {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1rem;
    font-weight: bold;

   
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    padding:8px 25px;
    transition: all .5s ease;
}
  .navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow:  0 0 10px white;
}
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before{
    content:"";
    position: absolute;
    top:0;
    right:0;
    background:url("/homeproject/logo/pp.jpg") no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
.main{
    display: flex;
    flex-direction: column;
    /*border: 1px solid white;*/
    align-items: center;
    position: absolute;

}
.headings{
font-size: 3rem;
text-align: center;
margin: 40px 0px;
background-color: white;
}
.btn{
    padding:10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow:0 0 5px white,0 0 10px white, 0 0 15px white;
    font-weight: bold;

}
#about{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 50px;

}
#pic{
    display: flex;

}
#pic img{
    width :500px;
    height: 600px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
#portfolio{
    display: flex;
    flex-direction: column;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    justify-content: center;
    padding:20px;
}
.gallery img{
    width: 360px;
    height: 240px;
    margin:10px;
}