* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: #000;*/
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33));
}

h1 {
    color: transparent;
    background-image: linear-gradient(28deg, rgb(220, 113, 155), rgb(41, 10, 62));
    -webkit-background-clip: text;
    background-clip: text;
}

button {
    outline: none;
    padding: 0.8rem 2rem;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 1rem;
    border: 2px double transparent;
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at right top, rgb(1, 110, 218), rgb(217, 0, 192));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: rgba(256, 256, 256, 1);
    position: relative;
    margin: 1rem;
}

button:hover {
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at right top,rgb(1, 110, 218), rgb(1, 110, 218));
}

.active {
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at right top,rgb(1, 110, 218), rgb(1, 110, 218));
}